@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в E-cars!</h1>
    <p>Някои от нашите предложения:</p>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-2" style="width: 18rem;">
            <a asp-controller="Catalogue" asp-action="Brand" asp-route-brand="kia">
                <img src="~/kia-stinger.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <a href="#">
                <img src="~/audi-r8.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <a href="#">
                <img src="~/lada-riva.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <a href="#">
                <img src="~/bmw-4.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
